# Installed by Satellite Ansible Installer
# Config type: {{config_type}}

# Interval default is 10s
Interval {{collectd_interval|default('10')}}

# Hostname for this machine, if not defined, use gethostname(2) system call
Hostname "{{inventory_hostname}}"

# Allow collectd to log
LoadPlugin syslog

# Loaded Plugins:
LoadPlugin write_graphite
LoadPlugin cpu
LoadPlugin df
LoadPlugin disk
LoadPlugin interface
LoadPlugin irq
LoadPlugin load
LoadPlugin memory
LoadPlugin numa
LoadPlugin processes
LoadPlugin statsd
LoadPlugin swap
LoadPlugin unixsock
LoadPlugin uptime

# Open unix domain socket for collectdctl
<Plugin unixsock>
  SocketFile "/var/run/collectd-unixsock"
  SocketGroup "collectd"
  SocketPerms "0770"
  DeleteSocket true
</Plugin>

LoadPlugin apache
<Plugin apache>
    # Leave "Instance" blank unless you have multiple
    # Apache instances, in which case you can provide
    # a name to identify each instance
   <Instance "">
       URL "http://127.0.0.1/server-status?auto"
   </Instance>
</Plugin>

#Setup StatsD
<Plugin statsd>
   Host "0.0.0.0"
   Port "8125"
   DeleteSets  true
</Plugin>


# Graphite Host Configuration
<Plugin write_graphite>
  <Carbon>
    Host "{{ carbon_host }}"
    Port "{{ carbon_port }}"
    Prefix "{{graphite_prefix}}."
    Protocol "tcp"
    LogSendErrors true
    StoreRates true
    AlwaysAppendDS false
    EscapeCharacter "_"
  </Carbon>
</Plugin>

<Plugin df>
  ValuesPercentage true
</Plugin>

<Plugin disk>
  Disk "/^[hsv]d[a-z]+[0-9]?$/"
  IgnoreSelected false
</Plugin>

<Plugin postgresql>
  <Database pulpcore>
    Host "localhost"
    Port "5432"
    User "pulp"
    Password "{{ capsule_pulp_password.stdout }}"
    # Predefined:
    Query backends
    Query transactions
    Query queries
    Query table_states
    Query disk_io
    Query disk_usage
  </Database>
</Plugin>

<Plugin processes>
  # Apache
  Process "httpd"

  # Postgres database
  ProcessMatch "Postgres" "(/usr/bin/postmaster .*|postgres: .+)"

  # Pulp
  ProcessMatch "Pulpcore-Content" "/usr/bin/python.+ /usr/bin/pulpcore-content"
  ProcessMatch "Pulpcore-Worker" "/usr/bin/python.+ /usr/bin/pulpcore-worker"
  ProcessMatch "Pulpcore-API" "/usr/bin/python.+ /usr/bin/pulpcore-api"

  # Foreman smart proxy
  ProcessMatch "Foreman-SmartProxy" "/usr/bin/ruby /usr/share/foreman-proxy/bin/smart-proxy"

  # Redis
  Process "redis-server"

  # Mosquitto
  Process "mosquitto"

  # Collect on collectd process
  Process "collectd"
</Plugin>

<Plugin swap>
  ReportBytes true
  ValuesPercentage true
</Plugin>

# Include other collectd configuration files
Include "/etc/collectd.d"
